@font-face {
    font-family: "Big Shoulders";
    src: url(../ASSETS/fonts/BigShoulders-Regular.otf);
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

*,
::before,
::after {
    margin: 0;
    padding: 0;
    
}

html {
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

ul, ol, li {
    text-decoration: none;
    list-style: none;
}

h1,h2,h3,h4,h5 {
    font-family: 'Montserrat', sans-serif;
}

p,a {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.bg-orange {
    background-color: #ED800C !important;
}
nav {
    z-index: 9;
}

body {
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
}
header {
    width: 100vw;
    height: 70vh;
    overflow: hidden;
    position: relative;
}


.bigShouldersFont {
    font-family: "Big Shoulders";
    font-size: 2rem !important; 
}
video {
    
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
  }

  #home {
    position: absolute;
    z-index: 2;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    
  }
  #home::before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(3px) brightness(.7);
  }

  .linkButtonHover {
    transition: all .3s ease-in-out;
  }
  .linkButtonHover:hover  {
    background-color: #f5b570 !important; 
    color: black !important;
  }
  footer h3 {
    font-family: "Big Shoulders";
  }

  .footerIconHover {
    transition: all .3s ease-in-out;
  }
  .footerIconHover:hover i{
    font-size: 1.8rem !important;
    color: #ED800C !important;
  }
  .textorange {
    color: #ED800C;
  }

  form {
    font-family: "Raleway", sans-serif;
    color: black;
    
  }
  
 input:focus {
   outline-offset: unset;
 }
  /* #img-1 {
    background-image: url(../ASSETS/img/restaurante-cocina-chef-personal-gerente.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    
  } */

  /* MediaQuerys */
  @media (max-width: 425px) {
    #logoImg {
        width: 72px;
        height: 61px;
    }
    header {
        height: 100vh;
    }
    
  }